@import "tailwindcss";

:root {
  --background: #f4f5f7;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ui-gray-500: #667085;
}
